<body>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
  <link rel="stylesheet" href="application.css">
  <h1>Welcome to Kyle's Favorite Comedians</h1>

  <a class="button" href="/comedians">Comedians</a>

</body>
